<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exchange.client">

    <!-- 权限 -->
    <!-- android.permission.ACCESS_WIFI_STATE - Allows applications to access information about Wi-Fi networks -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- android.permission.ACCESS_NETWORK_STATE - Allows applications to access information about networks. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- android.permission.INTERNET - Allows applications to open network sockets -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- android.permission.WRITE_EXTERNAL_STORAGE - Allows an application to write to external storage. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- android.permission.READ_EXTERNAL_STORAGE - Allows an application to read from external storage. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- android.permission.READ_PHONE_STATE - Allows read only access to phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".system.ExchangeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.discovery.DiscoveryActivity">
        </activity>
        <activity android:name=".module.trade.TradeActivity">
        </activity>
        <activity android:name=".module.homepage.HomePageActivity">
        </activity>
        <activity android:name=".module.profile.MyProfileActivity">
        </activity>

        <service
            android:name=".service.DataUpdateAlarmService"
            android:exported="false">
        </service>

        <activity android:name=".welcome.SplashActivity">
        </activity>
        <activity android:name=".ui.WebActivity">
        </activity>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:label="@string/title_activity_welcome">
        </activity>
    </application>

</manifest>
